<div class="work_body">
  <div class="overlay_work">
    <div class="overlay1_work">
      <h1> OUR WORK </h1>
    </div>  
  </div>
  <div class="div_work">
    <div id="kehl-grid"><div class="margin">
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/1.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work2.jpg" alt="" />
      <h3>TMA-1 X</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 photo web">
    <a href="images/portfolio/masonry/2.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work3.jpg" alt="" />
      <h3>Bulb Fiction</h3>
      <p>photo</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work4.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work1.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work8.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work7.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work6.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
  <div class="grid-box-1 branding">
    <a href="images/portfolio/masonry/3.jpg">
      <div class="image-mask-1"></div>
      <img src="http://muse.creative-routine.com/clymene/assets/work5.jpg" alt="" />
      <h3>Hang Around</h3>
      <p>branding</p>
    </a>
  </div>
</div></div>
  </div>
</div>
