<div class="products_company12">
<div class="tab-content-1" id="home" class="home">
 <div class="container-1">
  <img id="picture1" alt="picture-1" src="https://s.yimg.com/ny/api/res/1.2/YqCmzwJ.2RwaOhNjsdUZKQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2lsPXBsYW5l/https://www.sunset.com/wp-content/uploads/1-modsy-2019-decor-predictions-pr-1218-900x500-800x0-c-default.jpg">
  <img id="picture3" alt="picture-1" src="https://s.yimg.com/ny/api/res/1.2/YqCmzwJ.2RwaOhNjsdUZKQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2lsPXBsYW5l/https://www.sunset.com/wp-content/uploads/1-modsy-2019-decor-predictions-pr-1218-900x500-800x0-c-default.jpg">
  <img id="picture4" alt="picture-1" src="https://s.yimg.com/ny/api/res/1.2/YqCmzwJ.2RwaOhNjsdUZKQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2lsPXBsYW5l/https://www.sunset.com/wp-content/uploads/1-modsy-2019-decor-predictions-pr-1218-900x500-800x0-c-default.jpg">
  </div>
 <div class="container-2">
  <img id="picture2" alt="picture-2" src="https://cdn.vox-cdn.com/uploads/chorus_image/image/55825603/the_standish_model_apartment_matter_dezeen_hero.0.jpg">
  <img id="picture5" alt="picture-2" src="https://cdn.vox-cdn.com/uploads/chorus_image/image/55825603/the_standish_model_apartment_matter_dezeen_hero.0.jpg">
  <img id="picture6" alt="picture-2" src="https://cdn.vox-cdn.com/uploads/chorus_image/image/55825603/the_standish_model_apartment_matter_dezeen_hero.0.jpg">
  </div>
</div>
  

  <div class="overlay">
    <div class="overlay1">
      <h1>Interior Design</h1>
    </div>  
  </div>
</div>